

	  </div>
		<div class="row">
			<div class="g6">
				<h4>Confirm Dialog</h4>
				<a href="javascript:void(0);" class="button" id="tt-popbox" data-bool="">Confirm Dialog</a>
			</div>

	  </div>
		<div class="row">
			<div class="g6">
				<h4>Methods</h4>
				<div class="white-button"><a href="javascript:void(0);" id="tt-sh">Tooltip</a><a href="javascript:void(0);" id="tt-showbox" class="click">Show</a><a href="javascript:void(0);" id="tt-hidebox" class="click">Hide</a><a href="javascript:void(0);" id="tt-delbox" class="click tt-status-error">Destroy</a></div>
			</div>

	  </div>
		<div class="row">
			<div class="g6">
				<h4>Update method</h4>
				<div class="white-button"><a href="javascript:void(0);" id="tt-update" data-bool="">Update Content</a><input type="text" id="tt-updatebox" placeholder="Content to update"></div>
			</div>
			<div class="g6">

		  </div>
		</div>
	</div>
</div>
</content>
<footer>Created by <a href="https://limlift.github.io" target="_blank" rel="nofollow">Limlift</a>&nbsp;@dayoo</footer>
<script type="text/javascript" src="js/tiktok.min.js"></script>
<script>
	$(function () {
		$('content').height(Math.max($('content').height(),document.body.clientHeight-100-40));
		$('#tt-float-up').tiktok({
			position: 'top',
			type: 'floattip',
			content : {
			'content':'Top Tooltip!'
			}
		});
		$('#tt-float-down').tiktok({
			position: 'bottom',
			type: 'floattip',
			content : {
			'content':'Bottom Tooltip!'
			}
		});
		$('#tt-float-left').tiktok({
			position: 'left',
			type: 'floattip',
			content : {
			'content':'Left Tooltip!'
			}
		});
		$('#tt-float-right').tiktok({
			position: 'right',
			type: 'floattip',
			content : {
			'content':'Right Tooltip'
			}
		});
		$('#tt-poptip-error').tiktok({
			type: 'poptip',
			status:'error',
			content : {
			'content':'Top Notification Bar'
			}
		});
		$('#tt-poptip-error').on('click',function() {
			$('#tt-poptip-error').tiktok('show');
		});
		$('#tt-poptip-done').tiktok({
			type: 'poptip',
			position:'middle',
			status:'done',
			content : {
			'content':'Middle Message'
			}
		});
		$('#tt-poptip-done').on('click',function() {
			$('#tt-poptip-done').tiktok('show');
		});
		$('#tt-poptip-alert').tiktok({
			type: 'poptip',
			position:'bottom',
			status:'alert',
			content : {
			'content':'Bottom Notification bar!'
			}
		});
		$('#tt-poptip-alert').on('click',function() {
			$('#tt-poptip-alert').tiktok('show');
		});
		$('#tt-popload').tiktok({
			type: 'popload',
			content : {
			'title':'Loading',
			'content':'Loading...'
			}
		});
		$('#tt-popload').on('click',function() {
			$('#tt-popload').tiktok('show');
		});
		$('#tiktok-pop-loading .tt-bg').on('click',function(){
			$('#tt-popload').tiktok('hide');
		});
		$('#tt-poptext').tiktok({
			type: 'poptext',
			content : {
			'title':'Title',
			'content':'Message here'
			},
			contentAlign: 'center',
			headerAlign : 'center',
			onCancel:function(){
				alert('You just clicked confirm')
			}
		});
		$('#tt-poptext').on('click',function() {
			$('#tt-poptext').tiktok('show');
		});
		$('#tt-popbox').tiktok({
			type: 'popbox',
			content : {
			'title':'Conrifm Dialog',
			'content':'Are You Sure?'
			},
			headerAlign: 'left',
			onCancel:function(){
				alert('You just clicked cancel')
			},
			onConfirm:function(){
				alert('You just clicked confirm')
			}
		});
		$('#tt-popbox').on('click',function() {
			$('#tt-popbox').tiktok('show');
		});
		$('#tt-sh').tiktok({
			type: 'floattip',
			position:'top',
			content : {
			'content':'Tooltip Text'
			}
		});
		$('#tt-showbox').on('click',function() {
			$('#tt-sh').tiktok('show');
		});
		$('#tt-hidebox').on('click',function() {
			$('#tt-sh').tiktok('hide');
		});
		$('#tt-delbox').on('click',function() {
			$('#tt-sh').tiktok('destroy');
		});
		$('#tt-update').tiktok({
			type: 'floattip',
			position:'top',
			content : {
			'content':'Tooltip Text'
			}
		});
		$('#tt-updatebox').bind('change',function() {
			$('#tt-update').tiktok('update','content',{content:$('#tt-updatebox').val()});
		});
	})
</script>
</body><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>
