<div class="form-group has-feedback">
    <label class="control-label" for="inputSuccess2">User Name</label>
    <input type="text" class="form-control" id="inputSuccess2"/>
    <span class="glyphicon glyphicon-search form-control-feedback"></span>
</div>
