<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>


    <style media="screen">
        .no_match {
            border: 5px solid red;
        }

        .match {
            border: 5px solid green;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
</head>

<body>
    <div>
        <div style="inline-block;padding:20px">
            <video id="video" width="600" height="480" autoplay></video>
            <canvas id="canvas" width="600" height="480" style="margin-left:40px"></canvas>
        </div>
        <button class="btn btn-primary btn-lg" id="snap" style="margin-left:280px"><b>Authenticate</b></button>
    </div>
</body>

<script src="scripts/client.js" charset="utf-8"></script>

</html>
